#root {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
}

main{
  width: 100vw;
  height: 80vh;
  img{
    width: 150px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainHero{
  background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.8)),url('../assets/xp_bg.jpg');
}