#root {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  // margin-top: 8 * $standard-padding;
}

main{
  width: 100vw;
  height: 100vh;

  img{
    width: 150px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url('../assets/xp_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button{
  font-size: $standard-font-size;
  padding: 5px 30px;
}

input, select, label, textarea {
  font-size: $standard-font-size;
  *{
    padding: 5px 30px;
  }
  
}

.bill-build{
  width: 60%;
  border-radius: 10px;
}