#root {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  // margin-top: 8 * $standard-padding;
}

main{
  width: 100vw;
  height: 100vh;

  img{
    width: 150px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url('../assets/xp_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome{
  // background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.8));
  // padding: 4 * $standard-padding;
  height: 100%;
  @include flex(column, center);
  align-items: center;

  h4{
    max-width: 60%
  }
}

.window {
  // height: calc(100vh - 30 * $standard-padding);
  // margin-left: 15vw;
  // margin-right: 30vw;
  // align-self: flex-end;
}