// & Base colours
$yellow: #FFCC00;
$orange:#FF9933;
$dark-orange:#DE5C2F;
$off-white:#E6EAD8;
$light-blue:  #8CAAE6;
$mid-blue: #6487DC;
$dark-blue: #003399;
$green:#13920D;

// & Sizing
$standard-padding: 8px;
$standard-font-size: 8px;

// & Flex mix-in
@mixin flex($direction, $justify){
  display:flex;
  flex-direction: $direction;
  justify-content: $justify;
}