
.bundleDisplayCont {
  width: 80vw;
  max-width: 1720px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .indivBundleCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;

    .bundleImg{
      // width: 10vw;
      // height: 10vw;
      width: 200px;
      height: 200px;
      max-width: 200px;
      max-height: 200px;
      background-color: aquamarine;
      text-align: left;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}