
.buyWindow {
  height: calc(100vh - 30 * $standard-padding);
}

.bundleDisplayCont {
  width: 80vw;
  max-width: 1500px;
  margin: 20px;
  height: calc(100vh - 40 * $standard-padding);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
  a {
    width: fit-content;
    margin: 3%;
  }

  .outerBorder {
    border: 1px solid $dark-off-white;
  }

  .indivBundleCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $white;
    padding: 5px;

    .bundleImg{
      // width: 10vw;
      // height: 10vw;
      width: 200px;
      height: 200px;
      max-width: 200px;
      max-height: 200px;
      background-color: aquamarine;
      text-align: left;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}