.logRegBg {
  background-color: $dark-blue;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.formWindow {
  width: 500px;
  height: fit-content;
}

.dataCont {
  padding: 0px 20px 10px 20px;
}

.dataFormFields {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: space-between;
  }
}