header, footer {
  background-color: $dark-blue;
  color: $off-white;
  position: fixed;
  height: calc(6 * $standard-padding);
  width: calc(100vw - 4 * $standard-padding);
  display: flex;
  justify-content: space-between;
  padding: $standard-padding (2 * $standard-padding);
  margin: 0;

  a{
    color: $yellow
  }

  img{
    height: 6 * $standard-padding;
    padding: 0;
  }

  nav * {
    padding: $standard-padding;
  }
}

header {
  top: 0;
}

footer {
  bottom: 0;
}