
.buyWindow{
  height: calc(100vh - 30 * $standard-padding);
}

.displayCont {
  width: 55vw;
  max-width: 1500px;
  margin: 20px;
  height: calc(100vh - 40 * $standard-padding);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
  a {
    width: fit-content;
    margin: 3%;
  }

  .outerBorder {
    border: 1px solid $dark-off-white;
    border-radius: 5px;
  }

  .indivBundleCont{
    @include flex(column,center);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
    border: 1px solid $white;
    padding: 5px;
    border-radius: 5px;

    button{
      margin: 0px 5px;
      font-size: $standard-font-size;
      padding: 5px 30px;
    }

    .bundleImg{
      width: 200px;
      height: 200px;
      max-width: 200px;
      max-height: 200px;
      text-align: left;
      background-position: center;
      background-size: cover;
      border-radius: 5px;

      div {
        width: fit-content;
        padding: 5px;
        font-size: 15px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 5px 5px black;
        border: 1px black solid;
      }

      .windows {
        background-color: $dark-blue;
        color: rgb(255, 255, 255);
      }

      .macos {
        background-color: rgb(210, 210, 210);
        color: rgb(50, 50, 50);
      }

      .windowsmacos{
        background: linear-gradient(90deg, $dark-blue 0%, rgb(210, 210, 210) 80%);
        color: rgb(255, 19, 106)
      }

      .other {
        background-color: rgb(255, 102, 0);
        color: rgb(255, 215, 182)
      }
    }

    .reviewTxt{
      width: 200px;
      max-width: 200px;
      max-height: 200px;
      text-align: left;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}