
.buyWindow{
  height: calc(100vh - 20* $standard-padding);
  background-color: white;
  @include flex(column, space-around);
}

.windowTopBar{
  margin: 0px 3px;
  background-color: #ece9d8;

  .topNavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $dark-off-white;

    .toolBar {
      display: flex;
      
      p {
        margin: 5px 0px 5px 15px;
      }
    }

    .topNavBarImgPadding{
      padding: 3px 0px;
      border-left: 2px solid $dark-off-white;
      background-color: white;
      .topNavBarImg {
        width: 70px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    
  }


  .bottomNavBar{
    height: 60%;
    border-top: 2px solid $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgb(176, 176, 176) 0px -4px 6px -2px inset;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0px 8px;

      img {
        width: 35px;
        height: 35px;
      }
      .nav{
        width: 50px;
        height: 50px;
      }
    }

    .separator{
      width: 2px;
      height: 40px;
      background-color: $dark-off-white;
    }
  }
}





.filters {
  margin-top: 20px;

  select, input {
    font-size: $standard-font-size;
    margin: 0px 8px;
  }
}

.displayCont {
  align-self: center;
  width: 55vw;
  max-width: 1500px;
  margin: 20px;
  height: calc(100vh - 45 * $standard-padding);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
  border: 2px solid $dark-off-white;
  border-radius: 10px;
  a {
    width: fit-content;
    margin: 3%;
  }

  .outerBorder {
    border: 2px solid grey;
    border-radius: 5px;
  }

  .indivBundleCont{
    @include flex(column,center);
    align-items: center;
    border: 2px solid lightgrey;
    background-color: #ece9d8;
    padding: 5px;
    border-radius: 5px;

    .title{
      font-weight: bold;
      text-decoration: underline;
      margin: 10px 0px;
    }

    .timer{
      margin: 0px 0px 10px 0px;
    }

    button{
      margin: 0px 5px;
      font-size: $standard-font-size;
      padding: 5px 30px;
    }

    .bundleImg{
      width: 200px;
      height: 200px;
      max-width: 200px;
      max-height: 200px;
      text-align: left;
      background-position: center;
      background-size: cover;
      border-radius: 5px;

      div {
        width: fit-content;
        padding: 5px;
        font-size: 15px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 5px 5px black;
        border: 1px black solid;
      }

      .windows {
        background-color: $dark-blue;
        color: rgb(255, 255, 255);
      }

      .macos {
        background-color: rgb(210, 210, 210);
        color: rgb(50, 50, 50);
      }

      .windowsmacos{
        background: linear-gradient(90deg, $dark-blue 0%, rgb(210, 210, 210) 80%);
        color: rgb(255, 19, 106)
      }

      .other {
        background-color: rgb(255, 102, 0);
        color: rgb(255, 215, 182)
      }
    }

    .reviewTxt{
      width: 200px;
      max-width: 200px;
      max-height: 200px;
      text-align: left;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}