.reviewWindow{
  min-width: 50vw;

  .reviews-header{
    @include flex(row, center);
    // margin: $standard-padding;

    *{
      margin: $standard-padding
    }

    .actionLink{
      text-decoration: none;
    }
  }

  .displayCont{
    margin: 4px
  }

  .indivBundleCont{
    width: 270px;
    height: 220px;
    border-radius: 10px;
    margin: $standard-padding;
    padding: $standard-padding;
    background-repeat: none;
    background-size: cover;
    border-style: none;
  }

  


  .rating-star{
    height: 2 * $standard-font-size;
    width: 2 * $standard-font-size;
  }
  
}

.reviewTxt{
  height: 150px;
  padding-top: 3 * $standard-padding
}